<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>movies</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>/WEB-INF/views/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ViewsServlet</servlet-name>
    <servlet-class>com.movie.web.servlet.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewsServlet</servlet-name>
    <url-pattern>/views/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.movie.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FileServlet</servlet-name>
  	<servlet-class>com.movie.web.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileServlet</servlet-name>
  	<url-pattern>/file/*</url-pattern>
  </servlet-mapping>
</web-app>